html, body {
    margin: 0 auto;
    padding: 0;
}

.signin-custom1 {
    border: 2px solid #fff;
    padding: 8px !important;
    border-radius: 50px;
    color: #272930;
    text-align: -webkit-center;
    width: 110px;
}

.background {
    height: 100%;
    position: relative;
    background: url("../images/backgroundImage.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.center {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.center-align {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.row-center {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.padding-LR0 {
    padding-right: 0;
    padding-left: 0;
}

.arrows i {
    font-size: 6em;
    color: #fff;
}

.icon-style {
    border: 4px solid #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
}

h1, a {
    text-align: center;
    text-decoration: none;
    color: #3399FF;
    font-weight: bold;
}

.btn-concept {

    width: 240px;
    height: 50px;
    display: inline-block;
    color: #ed4079;
    background-color: #fff;
    border-radius: 25px;
    font-family: 'robotomedium';
    font-size: 1.1em;
    text-align: center;
    border: none;
    outline: none;
}

.demotext-alignment {
    position: absolute;
    top: 41%;
    left: 0;
    right: 0;
}

.demotext-font {
    font-size: 3.5em;
    font-family: 'robotolight';
    color: #fff;

}

.button-paddingtop {
    padding-top: 60px;
}
