.top-itemlist {
    float: right;
    margin: 0;
}

.concept-nav {
    background-color: #fff;
    border-color: #e7e7e7;
    border-radius: 0;
}

.navbar {
    min-height: 0;
}

.logo-alignment {
    display: flex;
    align-items: center;
    height: 50px;
    /*margin-left: 40px !important;*/
}

.conceptlink-alignment {
    padding-left: 15px;
}

.conceptlink-spacing {
    padding-left: 8px;
    font-size: 13px;
    font-family: 'robotolight';
    color: #666666;
    font-weight: 700;
}
.angleicon-font {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.horizontalline-style {
    border-top: 1px dotted lightgrey;
    width: 20px;
}
.top-itemlist {
    height: 50px;
    display: flex;
    align-items: center;
    /*margin-right: 6%;*/
}

.btn-quiz {
    width: 175px;
    height: 35px;
    display: inline-block;
    color: #dededf;
    background-color: #fff;
    font-family: 'robotomedium';
    font-size: 1em;
    text-align: center;
    border: 1px solid #dededf;
    border-radius: 25px;
    outline: none;
}

.btn-quiz-active{
    color: #333366;
    border-color: #333366;
}

.content-font {
    font-size: 1.25em;
    font-family: 'robotoregular';
    color: #666666;
}

.heading-font {
    font-family: 'robotomedium';
    font-size: 1.5em;
    color: #272930;
    padding-top: 10px;
}

.content-font p {
    padding-top: 16px;
    font-size: 1.1em;
    font-family: 'robotoregular';
}
.navbar-nav>li>a {
    display: block;
    padding: 15px 15px;
}
.navbar-nav>li {
    padding: 0px;
}
.objective {
    background: url('../images/icn_objective.svg');
    position: relative;
}
.conceptmap {
    background: url('../images/icn_conceptMap.svg');
    position: relative;
}
.video {
    background: url('../images/icn_video.svg');
    position: relative;
}
.activity {
    background: url('../images/icn_activity.svg');
    position: relative;
}
.assessment {
    background: url('../images/icn_assessment.svg');
    position: relative;
}
.practicequiz {
    background: url('../images/icn_assessment.svg');
    position: relative;
}
.navbar .navbar-nav li a.objective.active,.navbar .navbar-nav li a.objective:hover,.navbar .navbar-nav li a.objective:focus {
    background: url('../images/icn_objective_active.svg');
    position: relative;
}
.navbar .navbar-nav li a.activity.active,.navbar .navbar-nav li a.activity:hover,.navbar .navbar-nav li a.activity:focus {
    background: url('../images/icn_activity_active.svg');
    position: relative;
}
.navbar .navbar-nav li a.conceptmap.active,.navbar .navbar-nav li a.conceptmap:hover,.navbar .navbar-nav li a.conceptmap:focus {
    background: url('../images/icn_conceptMap_active.svg');
    position: relative;
}
.navbar .navbar-nav li a.video.active,.navbar .navbar-nav li a.video:hover,.navbar .navbar-nav li a.video:focus {
    background: url('../images/icn_video_active.svg');
    position: relative;
}
.navbar .navbar-nav li a.assessment.active,.navbar .navbar-nav li a.assessment:hover,.navbar .navbar-nav li a.assessment:focus {
    background: url('../images/icn_assessment_active.svg');
    position: relative;
}
.lock-style {
    position: absolute;
    top: -8px;
    left: 18px;
}

.learningpath-sprout-video {
    height: 80vh;
    /*margin-bottom: 20px;*/
    /*width: 100%;*/
}
.row-center {
    display: flex;
    align-items: center;
}
@media (min-width: 640px) and (max-width: 768px) {
    .heading-font {
        font-size: 1.4em;
    }

    .btn-quiz {
        width: 170px;
        height: 40px;
        font-size: 1em;
    }
    .content-font p {
        font-size: 16px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .heading-font {
        font-size: 1.25em;
    }

    .btn-quiz {
        width: 90px;
        height: 40px;
        font-size: 12px;
    }
    .content-font p {
        font-size: 14px;
    }
}

.video-player {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.control {
    float: left;
    padding: 0 10px;
}

.toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 13px 0 13px;
}

.control a {
    text-decoration: none;
    color: #000000;
}

.progress-container {
    position: absolute;
    left: 43px;
    right: 79px;
    width: auto;
}

.volume, .fullscreen, .settings, .pause-video {
    float: right;
}

.ui-slider-horizontal {
    height: 0.3em;
}

.progress{
    background: #222222;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.progress#volume-slider {
    /*margin-top: 10px;*/
    margin-bottom: 0;
    padding: 0 10px;
    width: 100px;
}

.volume{
    display: flex;
    align-items: center;
}

.volume a#volume-icon{
    padding:0 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.right-arrow-icon{
    font-size: 1.5em;
    padding-left: 8px;
}