.aside-left {
	background: url(../images/Signup_img.jpg) no-repeat 30% center;
	height: 100%;
	text-align: center;
	background-size: cover;
}

.aside-right {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	background: url("../images/bg_symbols.svg") no-repeat top 45% left 42%;
	background-color: #f7f9fb;
	background-position: center;
	background-size: 94%;
}

body, html {
	height: 100%;
}

.full-height {
	height: 100%;
}

.background-brainimage {
	margin-top: 30px;
	display: inline-block;
}

.background-brainimage img {
	width: 195px;
}

.terms-cond-sec a {
	margin-right: 1px;
	font-weight: 400;
	color: #8a8c93;
	font-size: 14px;
	text-decoration: underline;
}