
.col-md-8.col-sm-7.col-xs-12.no-gutter.full-height
  .aside-right
    .tcell
      .head-section.col-sm-offset-1.col-md-offset-3
        %h2.main-heading Forgot your password
        %h6.sub-heading Enter your email address below and we'll get back on track.

      =form_for(person , html: { class: 'main-form col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3'})  do |f|
        .row
          .input-field
            =f.label :email, 'Email Address'
            =f.text_field :email, class:"validate"

        .row
          .login-sec
            .col-md-7.col-sm-7.col-xs-12.no-gutter
              %button.waves-effect.waves-light.btn.login-btn{type:'submit'} Submit

      .btm-section.col-sm-offset-1.col-md-offset-3
        .clear

        .col-md-5.col-sm-12.no-gutter
          .dnt-have-acct
            %p
              Back to
              %a{href: 'login.html'} Sign in